.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.redLabel {
   color: red;
}

.blueButton {
  color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.centered-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid indigo;
  
  border-radius: 10px;
  padding: 10px;

  height: 600px;
  width: 850px;
  overflow: auto;
}

.container {
  background-color: white;
  border: 1px solid indigo;
  display: inline-flex;
  border-radius: 10px;
  padding: 10px;
  
}

body {
  background-color: lightblue;
  background-image: url('./images/webShopImg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcomeTitle {
  color: indigo;
  object-position: center;
}

.subHeader {
  font-size: small;
  color: indigo;
}

.salesman-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* Apply styles to table headers */
.salesman-table th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 12px; /* Increase padding for better spacing */
  text-align: center; /* Center align header text */
}

/* Apply alternating row colors to table rows */
.salesman-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Apply styles to table cells */
.salesman-table td {
  border: 1px solid #ccc;
  padding: 12px; /* Increase padding for better spacing */
  text-align: center; /* Center align cell content */
  width: 20%; /* Set cell width as a percentage of the table width */
}

.salesman-table td .buttons button:disabled {
  opacity: 0.5; /* Reduce opacity for disabled buttons */
  cursor: not-allowed; /* Change cursor for disabled buttons */
}

.App-link {
  color: #61dafb;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
